<pageslide ps-open="checked" ps-target="#client-info" ps-close="true"></pageslide> 
<div style="padding:20px;overflow:auto" id="client-info" class="inverse">
                    
               
<a class="hide-link close btn pull-right" ng-click="clientInfo.hide()" href=""><span class="icon"></span></a>

<h3> {{client.name}} </h3>
<table class="row-seperators">
<tr>
  <td> Address </td> 
  <td> {{client.address}} <br/> 
    {{client.city}} {{client.postal_code}} {{client.country}} <br/>
  </td>
</tr>
<tr>
  <td> Coordinates </td> 
  <td> 
    Latitude: {{client.latitude}} <br/>
    Longitude: {{client.longitude}}
  </td>
</tr>
</table>

<a ng-show="panoId" href="" ng-click="showStreetView()">Street View</a>

		
<div ng-controller="ExampleCtrl">
	<nvd3-pie-chart
    	data="exampleData"
        id="exampleId"
        width="550"
        height="350"
        x="xFunction()"
        y="yFunction()"
        showLabels="true">
    </nvd3-pie-chart>
</div>
		    
		    
<div id="notifications" class="section-margin">
	<h3 class="hr hr-thick">Notifications</h3>
	<div ng-repeat="alert in alerts">
		<ul>
			<li ng-bind-html="alert.message"></li>
			<p>{{alert.date}}</p>
		</ul>
	</div>
	</h4>
</div>

<div id="transactions" class="section-margin">
	<h3 class="hr hr-thick">Transactions</h3>
	<table class="row-separators">
		<thead>
			<tr>
				<th>Date</th>
				<th>Fund</th>
				<th>Category</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="transaction in transactions">
				<td>{{transaction.date}}</td>
				<td>{{transaction.fundName}}</td>
				<td>{{transaction.category}}</td>
				<td>{{transaction.amount}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div><a class="button button-wide">Go to Client's Portfolio</a></div>

</div>
