<a class="hide-link" ng-click="clientInfo.hide()" href="">x</a>
<h3> {{client.name}} </h3>
<table>
<tr>
  <td> Address </td> 
  <td> {{client.address}} <br/> 
    {{client.city}} {{client.postal_code}} {{client.country}} <br/>
  </td>
</tr>
<tr>
  <td> Coordinates </td> 
  <td> 
    Latitude: {{client.latitude}} <br/>
    Longitude: {{client.longitude}}
  </td>
</tr>
</table>
<a ng-show="panoId" href="" ng-click="showStreetView()">Street View</a>
<a href="" ng-click="showHybridView()">Satellite View</a>

<select ng-model="chartType">
		<option value="pie">pie</option>
		<option value="bar">bar</option>
		<option value="line">line</option>
		<option value="point">point</option>
		<option value="area">area</option>
</select>

		
<div ng-controller="ExampleCtrl">
	<nvd3-pie-chart
    	data="exampleData"
        id="exampleId"
        width="550"
        height="350"
        x="xFunction()"
        y="yFunction()"
        showLabels="true">
    </nvd3-pie-chart>
</div>
		    
		    