<pageslide ps-open="checked" ps-target="#client-info" ps-close="true" ps-custom-height="600px"></pageslide> 
<div style="padding:20px;" id="client-info" class="inverse">
                    
               
<a class="hide-link close btn pull-right" ng-click="clientInfo.hide()" href=""><span class="icon"></span></a>

<h2>{{client.name.first}} {{client.name.middle}} {{client.name.last}}</h2>
<p>{{client.address}}<br />
{{client.city}} {{client.postal_code}}</p>

	<div id="accounts" class="section-margin">
		<h3 class="hr hr-thick">Accounts</h3>
	
			<tabset  type="pills">
				<tab ng-repeat="tab in accounts" heading="{{tab.acctType}}">	
				
				</tab>
			</tabset>
			
		<div ng-controller="ExampleCtrl">
			<nvd3-pie-chart
		    	data="exampleData"
		        id="exampleId"
		        width="450"
		        height="450"
		        x="xFunction()"
		        y="yFunction()"
		        showLabels="true"
		  		color="colorFunction()"
				pieLabelsOutside="true"
				showLegend = "false"
			 	tooltips="true">
		    </nvd3-pie-chart>
			</div>
		</div>
			  
		    
		    
<div id="notifications" class="section-margin" ng-show="alerts">
	<h3 class="hr hr-thick">Notifications</h3>
	<div ng-repeat="alert in alerts">
		<ul>
			<li ng-bind-html="alert.message"></li>
			<p>{{alert.date}}</p>
		</ul>
	</div>
	</h4>
</div>


<div id="transactions" class="section-margin" ng-show="transactions">
	<h3 class="hr hr-thick">Recent Transactions</h3>
	<table class="row-separators full-width">
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Fund</th>
				<th scope="col">Category</th>
				<th class="align-right" scope="col">Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="transaction in transactions">
				<td>{{transaction.date}}</td>
				<td>{{transaction.fundName}}</td>
				<td>{{transaction.category}}</td>
				<td class="align-right">{{transaction.amount | currency}}</td>
			</tr>
		</tbody>
	</table>
</div>


<div><a class="btn btn-wide">Go to Client's Portfolio</a></div>

</div>
